@page "/"
@using ProjectTI.Data
@using Microsoft.EntityFrameworkCore

<PageTitle>Home</PageTitle>

<h1>Statistici</h1>

<p>
    Număr angajați: @Employees.Count
</p>

@if (Variables is not null)
{
    <div>
        <span>Taxe:</span>
        <p>CAS: @Variables.Cas%</p>
        <p>CASS: @Variables.Cass%</p>
        <p>Impozit: @Variables.Tax%</p>
    </div>
}

@inject ApplicationDbContext _appDbContext

@code {
    private List<Employee> Employees { get; set; } = new();
    private Variables? Variables { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = await _appDbContext.Employees.ToListAsync();
        Variables = await _appDbContext.Variables.FirstAsync();
    }

}
